@using OnlineShop.Core.Models
@model IEnumerable<ItemListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<head>
       <link rel="stylesheet" href="~/css/ManageItemSheet.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Available items</h1>
</div>

@using (Html.BeginForm())  
{  
    <p>  
        Find by Item by Name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />  
    </p>  
}

 <div class="card table-responsive p-0">
                <table id="customer">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="10%">Image</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Name</td>
                                <td ><img src="@item.ImageUrl" alt="" width="85%" height="85%" /></td>
                                <td class="cell-breakWord">@item.Category.Name</td>
                                <td>@item.Price$</td>
                                <td width="35%"  class="cell-breakWord">@item.Description</td>
                                <td>
                                    <a asp-area="" asp-action="add" asp-controller="item" asp-route-id="@item.Id" class="btn btn-block btn-success btn-xs">Add to cart</a>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>