@using OnlineShop.Core.Models
@model IEnumerable<UserListViewModel>
@{
}
<head>
    <link rel="stylesheet" href="~/css/ManageItemSheet.css" asp-append-version="true" />
</head>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 style="text-align:center;" class="card-title">Your cart
                </h2>
                <h10>
                    <a asp-area="" asp-action="order" asp-controller="user"  class="btn btn-block  btn-success btn-lg">Purchase</a>
                </h10>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover" id="customer">
                    <thead>
                        <tr>
                            <th width="10%">Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal itemSum = 0;
                            foreach (var user in Model)
                        {
                            @foreach (var item in user.Cart)
                            {
                                itemSum += item.Price;
                                <tr>
                                     <td ><img src="@item.ImageUrl" alt="" width="85%" height="85%" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Price$</td>
                                    <td>
                                        <a asp-area="" asp-action="remove" asp-controller="item" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to remove @item.Name from your cart?')" class="btn btn-block btn-danger btn-xs">Remove</a>
                                    </td>
                                </tr>
                            }
                        }
                        <h4 class="card-title">Your total is: @itemSum$</h4>
                        
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>